@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
}

body * {
    box-sizing: border-box;
}

.header-top {
    display: flex;
    align-items: center;
    background: #201b2c;
    justify-content: center;
}

.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}

.header-menu-item {
    color: #77ffc0;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 60px;
    border-radius: 30px;
    border-style: solid;
    margin: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.main-login {
    width: 99,8vw;
    height:100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    color: #77ffc0;
    font-size: 35px;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 30px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login>h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #201b2c;
    padding-top: 50px;
    
}

.footer-title{
    border-top: 2px solid #77ffc0;
    padding-top: 80px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 35px;
    color: #77ffc0

}

.footer-info {
    font-weight: 350;
    font-size: 20px;
    padding-bottom: 5px;
    color: #77ffc0;
    letter-spacing: 1,5px;
    
}


@media only screen and (max-width: 950px) {
    .card.login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    
    
    .header-menu {
        flex-direction: column;
    }

    .header-menu-item {
        font-size: 15px;
        padding: 15%
    }


    .main-login {
        flex-direction: column;
    }

    .left-login>h1 {
        display: flex;
        font-size: 25px;
        flex-direction: column;
        margin: 20px;
        
        
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 80vw;
    }

    .card-login {
        width: 90%;
        
    }

    .footer-title {
        font-size: 25px;
        align-items: center;
        
    }

    .footer-info {
        display: flex;
        font-size: 15px;
        margin: 5%;
        align-items: center;
    }


    
    
}